*{
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

a{
    font-size: 3em;
    text-decoration: none;
    border: 4px solid darkred;
    color: darkred;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    background-color: white;
    color: black;
}

a::before{
    background-color: white;
    color: black;
    content: 'SCHOOL';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(10);
    opacity: 0;
    transition: all 1s;
}

a:hover::before{
    transform: scale(1);
    opacity: 1;
}